<?xml version='1.0' encoding='utf-8'?>
<widget id="card.digitalcard.com" version="1.2.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <!-- <icon src="icon/icon.png" platform="ios" width="57" height="57" density="mdpi" /> -->
          <!-- <icon src="icon/ios/icon.png" platform="ios" width="1024" height="1024" />
                <icon src="icon/icon.png" /> -->
    <name>digitalcard</name>
    <description>
        DigitalBcards
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
  
        <allow-intent href="market:*" />
        <uses-permission android-targetSdkVersion="28" android-name="android.permission.READ_CONTACTS" />
        <uses-permission android-targetSdkVersion="28" android-name="android.permission.WRITE_CONTACTS" />
        <icon background="icon/icon.png" foreground="icon/icon.png" />
  
    </platform>

    <!-- <preference name="android-minSdkVersion" value="16" />  -->
        <preference name="android-targetSdkVersion" value="28" />
         <!-- <preference name="android-targetSdkVersion" value="21" /> -->
    <preference name="android-maxSdkVersion" value="28" />
    <platform name="ios">
            <icon src="icon/icon.png" width="1024" height="1024" />
<!--         <icon src="ios/icon-512-2x.png" width="1024" height="1024" /> -->
        <icon src="icon/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="icon/icon-60.png" width="60" height="60" />
        <icon src="icon/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="icon/icon-76.png" width="76" height="76" />
        <icon src="icon/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <!-- <icon src="icon/icon-40.png" width="40" height="40" /> -->
        <icon src="icon/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="icon/icon.png" width="57" height="57" />
        <icon src="icon/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="icon/icon-72.png" width="72" height="72" />
        <icon src="icon/icon-72@2x.png" width="144" height="144" />
        <icon src="icon/icon-small@2x.png" width="58" height="58" />
<!--         <icon src="icon/icon.png" width="1024" height="1024" /> -->
        <icon src="icon/icon-50@2x.png" width="100" height="100" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>

    <preference name="KeyboardDisplayRequiresUserAction" value="false" />  
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardShrinksView" value="true" />
    <plugin name="cordova-plugin-android-permissions" spec="1.0.0" />
        <plugin name="cordova-plugin-console" spec="1.0.7" />
        <plugin name="cordova-plugin-contacts" spec="1.0.0" />
        <plugin name="cordova-plugin-ionic-keyboard" spec="2.1.3" />
        <plugin name="cordova-plugin-statusbar" spec="1.0.1" />
        <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
    <preference name="fullscreen" value="false" />
    
<!--     <gap:plugin name="phonegap-plugin-barcodescanner" source="npm" />

     <preference name="android-build-tool" value="gradle" /> -->


<!--  <config-file  target="*-Info.plist" parent="NSCameraUsageDescription">

 <config-file  target="*-Info.plist" parent="NSCameraUsageDescription" mode="overwrite">

        <string>It is used for scaning QR code.</string>
    </config-file>

    <edit-config  target="*-Info.plist" parent="NSCameraUsageDescription" mode="merge">
        <string>It is used for  take aphoto for user profile.</string>
    </edit-config>
    
<config-file platform="ios" target="*-Info.plist" parent="NSContactsUsageDescription">
        <string>It is used for pick contact To share Id</string>
    </config-file>

    <config-file  target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>It is used for Pick photo to set user profile</string>
    </config-file>

    <edit-config  target="*-Info.plist" parent="NSPhotoLibraryUsageDescription" mode="merge">
        <string>It is used for Pick photo to set user profile</string>
    </edit-config> -->
</widget>
